## 컬렉션 타입
 - 변수 : 하나의 값을 저장할 수 있는 메모리 공간
 - 컬렉션 타입 : 다양한 자료형의 여러 값을 저장 가능
 - list, dict, tuple, set
 
1. list[]
- 시퀀스 자료형(연속 된 값 저장) → 정렬 가능
- mutable(생성 후 변경 가능)
- index 사용 → slicing 가능
- packing과 unpacking 가능
- 멤버함수: append(), extend(), insert(), remove(), pop(), sort()

2. tuple()
- 시퀀스 자료형(연속 된 값 저장) → 정렬 불가능
- immutable(생성 후 변경 불가능)
- index 사용 → slicing 가능
- () 생략 가능
- 1개 원소만 가지는 경우 , 사용 → (1,)

3.dict{key:value}
- key, value 한 상으로 구성 된 구조
- key를 통해서 value 접근
- key 중복 불가, value 중복 가능
- 멤버함수: update(), get(), keys(), value(), items()

4.set{}
- dict type에서 key만 활용하는 데이터 구조로 이해
- 수학 집합과 같은 개념
- 순서 없음 → index 없음
- set 구조 내 중복값 허용 안함 # 중요
- 멤버함수: union(), intersection(), difference() 등

In [4]:
# list 초기화
# 1. []
# 2. list()

list_a = []
list_b = [1, 2, 3]
list_c = ["cnu", 3.14, [1, 2, 3]]

In [1]:
str_a = "Hello"
list_d = list(str_a)  # 문자열 → list 행변환
print(list_d)

tuple_a = (1, 2, 3)
list_e = list(tuple_a)
print(list_e)

['H', 'e', 'l', 'l', 'o']
[1, 2, 3]

In [3]:
list_f = [1, 2, 3, 4, 5]
print(list_f[3])
print(list_f[1:3])
print(list_f[:2])

4
[2, 3]
[1, 2]

In [2]:
#  append() : list 마지막에 값을 추가
a = [1, 2, 3]
a.append(10)
print(a)

[1, 2, 3, 10]

In [2]:
# insert() : list 원하는 인덱스 위치에 값을 추가
a = [1, 2, 3]
a.insert(1, 99)
print(a)

[1, 99, 2, 3]

In [6]:
# extend() : list와 list 병합
a = [1, 2, 3]
b = [4, 5, 6]

a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

In [3]:
a = [1, 2, 3]
b = [4, 5, 6]
# a.extend(b)
a += b # a = a + b
print(a)

[1, 2, 3, 4, 5, 6]

In [4]:
#remove(): 값을 통해서 삭제(인덱스 X)
a = [1, 2, 3]
a.remove(2)
print(a)

[1, 3]

In [18]:
# pop() : 인덱스를 통해서 삭제(+ 삭제 전 값을 변수에 저장 가능)
a= [4, 5, 6]
# a.pop(1) #pop과 remove 구분 시험문제
b= a.pop(2)
print(a)
print(b)

[4, 5]
6

In [6]:
# index() : 찾고자 하는 값의 인덱스 번호 출력
a = [8,10, 20, 5, 3]
print(a.index (20))

2

In [13]:
email = "eeadu0830@naver.com"

email_idx = email.index("@")
email[:email_idx]

'eeadu0830'

In [14]:
# in : list내에 해당 값이 존재(True, False)
a= [1, 2, 3]
print(3 in a)
print(5 in a)

True
False

In [20]:
# sort() and sorted() : list 정렬, tuple은 정렬x
# - sort() : 원본 list 정렬
# - sorted() : list 복제 후 정렬

a = [9, 5, 1, 2, 10, 15]

b = sorted(a) # 정렬 default: 오름차순
print(a)
print(b)
print("=" * 50)
a.sort(reverse=True) # 내림차순
print(a)

[9, 5, 1, 2, 10, 15]
[1, 2, 5, 9, 10, 15]
==================================================
[15, 10, 9, 5, 2, 1]

### 2.Tuple

In [22]:
a = [1, 2, 3] # list type
b = (1, 2, 3) # tuple type
c = 5, 6, 7   # tuple type

print(type(a))
print(type(b))
print(type(c))

a[0] = 99
print(a)

b[0] = 99
print(b)

<class 'list'>
<class 'tuple'>
<class 'tuple'>
[99, 2, 3]

TypeError: 'tuple' object does not support item assignment

In [24]:
# packing and unpacking
# - list와 tuple 가능
# - [], () → 값을 묶음(packing)
tuple_num = (1, 2, 3)
a, b, c = tuple_num # unpacking
print(a, b, c)

1 2 3

### 연습문제

변수 a와 b의 값을 교환하세요.

In [38]:
a = 5
b = 9

# 코드 작성
temp = a
a = b
b = temp

# 2. tuple()사용 ,파이썬만 가능
a,b = b,a

print(a) 
print(b)

5
9

### 3. dict

In [28]:
dict_a = {"korea" : "seoul",
          "canada" : "ottawa",
          " usa" :"washington D.C"}
dict_b = {0:1, 1:6, 2:4, 3:9}
print(dict_a["canada"])
print(dict_b[3])

ottawa
9

In [42]:
import pprint
dict_a = {"korea" : "seoul",
          "canada" : "ottawa",
          " usa" :"washington D.C"}
# 값을 입력 → key값이 X(입력), key값이 0(수정)
dict_a["japan"] = "tokyo"
dict_a["japan"] = "kyoto"
dict_a["japan2"] = "kyoto"

# print(dict_a)
pprint.pprint(dict_a)

{' usa': 'washington D.C',
 'canada': 'ottawa',
 'japan': 'kyoto',
 'japan2': 'kyoto',
 'korea': 'seoul'}

In [44]:
# update() : dict와 dict 병합
a= {
    "a" : 1,
    "b" : 2
}
b = {
    "a" : 9,
    "d" : 4,
    "e" : 5
}
a.update(b)
print(a)

{'a': 9, 'b': 2, 'd': 4, 'e': 5}

In [45]:
# # pop() : dict 항목 삭제
c = a.pop("a")
print(a)
print(c)

{'b': 2, 'd': 4, 'e': 5}
9

In [49]:
# 값 접근
print(a["e"])
# print(a["f"])
print(a.get("f"))

5
None

In [50]:
# in
print("b" in a)

True

In [51]:
# clear() : dict 초기화
print(a)
a.clear()
print(a)

{'b': 2, 'd': 4, 'e': 5}
{}

In [8]:
# keys() : key값만 반환
# values() : value값만 반환
# items() : key, value를 튜플로 반환

a= {
    "a" : 1,
    "b" : 2
}

print(a)
print(a.keys())
print(type(a.keys()))
print(a.values())
print(type(a.values()))
print(a.items())
print(type(a.items()))

print(list(a.keys()))
print(type(list(a.keys())))

print(list(a.items()))

val = list(a.items())

print(type(val))
print(type(val[0])) #중요함

{'a': 1, 'b': 2}
dict_keys(['a', 'b'])
<class 'dict_keys'>
dict_values([1, 2])
<class 'dict_values'>
dict_items([('a', 1), ('b', 2)])
<class 'dict_items'>
['a', 'b']
<class 'list'>
[('a', 1), ('b', 2)]
<class 'list'>
<class 'tuple'>

### 4. set

In [11]:
list_z = [1,1,1,2,2,2,3,3,4,4,5]
print(list_z)

set_a = set(list_z)
print(set_a)

# set? or dict? dic가 더 많이 쓰이기 때문에 dict로 인식 set은 앞에 set을 붙여야함
# {1,2,3} → set, {} → dict 
j = {}
print(type(j))

[1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 5]
{1, 2, 3, 4, 5}
<class 'dict'>

In [12]:
a = {1,2,3}
b = {2,3,4}

#밑에 함수는 자주 안쓰여서 시험에 안나옴
print(a.union(b))          #합집함
print(a.intersection(b))   #교집함
print(a.difference(b))     #차집합
print(a.issubset(b))       #부분집합(b가 {1,2,3,4}이면 True 반환)

{1, 2, 3, 4}
{2, 3}
{1}
False